{% extends "Dietetica/index.html" %}
{% load static %}

{% block titulo %}
<h1 class="mb-5">Productos</h1>
{% endblock titulo %}

{% block contenido %}



<div class="row mt-3">
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Almendras.jpeg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Mani.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Nueces.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Pistachos.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Avellanas.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Castanas.jpg' %}" class="img-thumbnail">
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="image-container">
            <img src="{% static 'assets/CuentaDNI.jpg' %}" class="img-thumbnail">
        </div>
        <p>Somos un comercio adherido a cuenta DNI, por eso tenemos reintegro en las compras realizadas los miércoles y jueves.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Castanas.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Avellanas.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Pistachos.jpg' %}" class="img-thumbnail">    
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Nueces.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Mani.jpg' %}" class="img-thumbnail">
    </div>
    <div class="col-md-2 text-center">
        <img src="{% static 'assets/Almendras.jpeg' %}" class="img-thumbnail">    
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cantidad (en gramos)</th>
            <th>Precio (en pesos)</th>
        </tr>
    </thead>
    <tbody>
    {% for p in productos  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.cantidad}}</td>
            <td>{{ p.precio}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}